---
import Layout from "@/layouts/Layout.astro"
const user = Astro.locals.user;
if (!user) {
	return Astro.redirect("/");
}
---

<Layout title="logged in successfully">
	<h1>Welcome {user.username}</h1>
    <form method="post" action="/api/logout">
        <button>Sign out</button>
    </form>    
</Layout>