---
import { getEntry } from "astro:content";

import Footer from "@/components/Footer/Footer.astro";
import Navbar from "@/components/Navbar/Navbar.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";

const user = Astro.locals.user;
let loggedIn = true;
if (!user) {
  loggedIn = false;
}
const guestbook = await getEntry("guestbook", "data");
---

<BaseLayout title={guestbook.data.title}>
  <main class="flex h-dvh flex-col justify-between p-5">
    <div class="flex flex-col gap-10">
      <Navbar />
      <h2 class="text-3xl font-semibold">Guestbook</h2>
      {
        loggedIn ? (
          <div class="flex flex-col gap-10">
            <p class="text-lg">
              Welcome back, {user?.username}! You can leave your thoughts and
              comments here.
            </p>
            <form class="flex flex-col gap-5">
              <label for="name" class="text-lg">
                Name
              </label>
              <input
                type="text"
                name="name"
                id="name"
                class="w-full rounded-md border-2 border-text p-2"
                placeholder="Your Name"
              />
              <label for="email" class="text-lg">
                Email
              </label>
              <input
                type="email"
                name="email"
                id="email"
                class="w-full rounded-md border-2 border-text p-2"
                placeholder="Your Email"
              />
              <label for="message" class="text-lg">
                Message
              </label>
              <textarea
                name="message"
                id="message"
                class="w-full rounded-md border-2 border-text p-2"
                placeholder="Your Message"
              />
              <button
                type="submit"
                class="bg-primary w-full rounded-md p-2 text-text"
              >
                Submit
              </button>
            </form>
            {/* Logout button */}
            <form method="post" action="/api/logout">
              <button>Sign out</button>
            </form>
          </div>
        ) : (
          <div class="flex flex-col gap-10">
            <a
              href="/login/github"
              class="bg-primary w-full rounded-md text-text"
            >
              Login
            </a>
          </div>
        )
      }
    </div>
    <Footer />
  </main>
</BaseLayout>
