---
import { getEntry } from "astro:content";
import { Icon } from "astro-icon/components";

import Footer from "@/components/Footer/Footer.astro";
import Navbar from "@/components/Navbar/Navbar.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";

const details = await getEntry("common", "data");
const home = await getEntry("home", "data");
---

<BaseLayout title={home.data.title}>
  <main class="flex h-screen flex-col justify-between">
    <div class="flex flex-col gap-32">
      <Navbar />
      <div class="flex flex-col gap-10">
        <section id="hero whitespace-pre-line">
          <h2 class="text-3xl font-semibold">
            Hey, I'm {details.data.name} 👋
          </h2>
        </section>
        <section id="about" class="whitespace-pre-line">
          <p class="text-lg">{home.data.about}</p>
        </section>
        <section id="resume" class="">
          <button
            type="button"
            class="group relative min-w-32 cursor-pointer overflow-hidden border-2 border-text p-3 text-center"
            onclick="window.open('/resume.pdf', '_blank').focus();"
          >
            <span class="flex flex-row items-center gap-2">
              Here's My Resume
              <Icon
                name="heroicons:arrow-right-solid"
                class="text-xl font-bold"
              />
            </span>
            <span
              aria-hidden="true"
              class="absolute inset-0 z-[-1] -translate-x-full bg-surface0 transition-transform duration-500 group-hover:translate-x-0"
            ></span>
          </button>
        </section>
      </div>
    </div>
    <Footer />
  </main>
</BaseLayout>
