---
import NavLink from "./NavLink.astro";
---

<header class="pt-5">
  <nav class="flex flex-row flex-wrap justify-start gap-10">
    <NavLink href="/" text="Home" />
    <!-- <NavLink href="/about" text="About" /> -->
    <!-- <NavLink href="/projects" text="Projects" /> -->
    <!-- <NavLink href="/tech" text="Tech" /> -->
    <NavLink href="/guestbook" text="Guestbook" />
  </nav>
</header>
